<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
	<test name="module-action-web">

	<parameter name="myName" value="true"/>

	<parameter name="excludegroups" value="Comma"/>

	<parameter name="groups" value="Comma"/>

	<parameter name="language" value="fr-FR"/>



		<classes>
			<class name="com.qualipro.stepdef.Hooks"></class>
			<class name="com.qualipro.runners.ActionTestNGRunner"/>
			<class name="com.qualiprobdd.e2etests.ActionRunner"/>

			
			
		</classes>
	</test>

</suite> <!-- Suite -->
